//Colors

$color_black: black;
$color_white: white;

$color_header: rgb(174, 174, 230);
$color_footer: rgb(174, 174, 230);
$color_heading: rgb(174, 174, 230);
$color_background: rgb(8, 8, 8);



//fonts

$font_moonrocks: "Rubik Moonrocks";
$font_poppins: "Poppins";