.heading3{
    font-size: 25px!important ;
}

.Profile-img h2{
    position: absolute;
    top: 228px;
    left: 224px;
}
.h3-heading{
    background-color: $color_black;
    color: $color_primary!important;
    height: 50px;
    margin-bottom: 10px;
}
.h3-heading h3{
    margin-top:0px;
   
}